@page "/logout"
@inject ILoginService loginService
@inject NavigationManager navigationManager

<h3>Cerrar Sesion</h3>

@code {

    protected async override Task OnInitializedAsync()
    {
        await loginService.Logout();
        navigationManager.NavigateTo("");
    }
}
